/*默认配置*/
body, div, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, input, form, a, p, textarea{
	margin: 0;
	padding: 0;
	font-family: "Helvetical Neue", Helvetical, Arial, sans-self;
}

ul, li, ol{
	list-style: none;
}

a{
	text-decoration: none;
	/*没有文本修饰，如下划线*/
	display: block;
	color: #fff;
}

img{
	border: none;
	display: block;
}

.clearfloat{
	zoom:1;
}

.clearfloat:after{
	display: block;
	clear:both;
	content: "";
	visibility: hidden;
	height: 0;
}


/*公共的头部*/
.public-header{
	height: 110px;
	background: #fff;
}

.public-container{
	position: relative;
	margin: 0 auto;
	/*background:#fff;*/
	width: 1100px;
}

.public-header .header-logo{
	float: left;
	margin-top: 40px;
}

.public-header .header-logo a{
	height: 30px;
	width: 81px;
	background: url("../image/public-header-logo.png") no-repeat;
}

.public-header .header-nav{
	float: right;
	font-size: 14px;

}

.public-header .header-nav .item{
	float: left;
	margin-top: 45px;
	margin-left: 48px;
}

.public-header .header-nav a{
	color: #3b3b3b;
}

.public-header .header-nav a:hover{
	text-decoration: underline;
}

/*公共尾部*/
.public-footer{
	height: 318px;
	background: #3b3b3b;
}

.public-footer .footer-col{
	width: 230px;
	float: left;
	margin-right: 60px;
	margin-top: 100px;
	font-size: 14px;
	color: #fff;
	line-height: 1.8;
}

.public-footer .footer-col-nor{
	margin-right: 0;
}

.public-footer .public-footer-logo{
	margin-bottom: 10px;
	width: 81px;
	height: 30px;
	background: url("../image/public-footer-logo.png") no-repeat;
}


/*中间的banner、list和pannel*/
.index-banner{
	position: relative;
}

.index-banner-bg{
	height: 570px;
	overflow: hidden;
}

.index-banner-bg img{
	margin: 0 auto;
}

.index-banner-text{
	position: absolute;
	top: 208px;
	left: 50%;
	margin-left: -388px;
}

.index-banner-text .text-logo{
	width: 776px;
	height: 117px;
	background: url("../image/text-logo.png") no-repeat;
}

.index-banner-text .text-info{
	margin-top: 17px;
	color: #fff;
	text-align: center;
}

.index-banner-text .text-info .line{
	display: inline-block;
	width: 21px;
	border-top: 1px solid #fff;
	vertical-align: middle;
}

.index-banner-text .text-info .txt{
	margin: 0 27px;
}
/*菜单*/
.index-menu{
	position: relative;
	border-top: 4px solid #f34949;
}

.index-menu .menu-tips{
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -78px;
	width: 156px;
	height: 75px;
	text-align: center;
	line-height: 65px;
	color: #fff;
	background: #f34949;

}
.index-menu .menu-tips:after{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 78px solid transparent;
	border-right: 78px solid transparent;
	border-bottom: 10px solid #fff;
}

.index-menu .menu-list{
	margin-top:156px;
	color: #555;
}

.index-menu .menu-list ul{
	width: 1160px;
}
.index-menu .menu-item{
	float: left;
	width: 520px;
	margin-right: 60px;
	margin-bottom: 54px;
}

.index-menu .menu-item .title, .index-menu .menu-item .line{
	float: left;
}

.index-menu .menu-item .price{
	float: right;
}

.index-menu .menu-item .title{
	width: 230px;
	font-size: 16px;
	color: #000;
}

.index-menu .menu-item .comment{
	margin-top: 6px;
	font-size:12px; 
	color: #b7b7b7;
    overflow: hidden; 
	white-space: nowrap;
	text-overflow: ellipsis;
}

.index-menu .menu-item .line{
	margin-top: 10px;
	width: 194px;
	border-top: 1px solid #e3e1e1;
}

.index-menu .menu-more-btn{
	margin: 0 auto;
	width: 105px;
	height: 32px;
	padding-left: 15px;
	border: 1px solid #d7d5d5;
	font-size: 14px;
	line-height: 32px;
	color: #b7b7b7;
}

.index-menu .menu-more-btn .icon{
	display: inline-block;
	width: 11px;
	height: 7px;
	margin-left: 11px;
	background: url("../image/menu-more-btn.png") no-repeat;
}

.index-pannel{
	margin-top: 200px;
}

.index-pannel-header h3{
	float: left;
	margin-right: 17px;
	font-size: 20px;
	color: #626262;
}

.index-pannel-header .line{
	float: left;
	margin-top: 14px;
	width: 200px;
	border-top: 1px solid #e5e3e3;
}

.index-pannel-header .btn-group{
	font-size: 0;
	float: right;
}

.index-pannel-header .btn{
	display: inline-block;
	margin-left: 11px;
	width: 9px;
	height: 9px;
	background: #dedede;
	border-radius: 50%;
}

.index-pannel-header .active{
	background: #9b9b9b;
}

.index-pannel-body{
	margin-top: 77px;
}

.index-food-list ul{
	width: 1160px;
}

.index-food-list .food-item{
	float: left;
	width: 230px;
	margin-right: 60px;
}

.index-food-list .food-item .banner{
	margin-bottom: 28px;
	height: 204px;

}

.index-food-list .food-item .food-name{
	color: #555555;
	font-size: 16px;
}

.index-food-list .food-item .food-price{
	float: right;
}

.index-food-list .food-item .star-bar{
	font-size: 0;
}

.index-food-list .food-item .star{
	margin-top: 10px;
	margin-right: 5px;
	display: inline-block;
	width: 12px;
	height: 13px;
	background: url("../image/index-star.png") no-repeat;
}

.index-food-list .food-item .nostar{
	background-position: 0 -12px;
}

.index-pics{
	margin-bottom: 200px;
	height: 432px;
}

.index-pics .pic-col{
	float: left;
}